@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #4ECDC4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
  display: flex;
  width: 90vw;

}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  margin: 25px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}
.panel:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 3;
  transform: none;
  cursor: auto;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.7s;
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-last-of-type(4), .panel:nth-last-of-type(5) {
    display: none;
  }
}
